.App {
  margin-top: 5%;
  text-align: center;
}

.tile {
  display: inline-block;
  width: 65px;
  height: 65px;
  white-space: pre;
  overflow: visible;
  outline: 1px solid black;
  z-index: -1;
}

.selectedTile {
  display: inline-block;
  width: 65px;
  height: 65px;
  white-space: pre;
  overflow: visible;
  outline: 1px solid rgba(81, 203, 238, 1);
  z-index: 1;
  position: relative;
}

.occupant {
  width: 50px;
  height: 50px;
  display: inline-block;
}

#occupant img {
  display: 'block'
}

@media only screen and (max-width: 600px) {
  .tile {
    width: 45px;
    height: 45px;
  }

  .selectedTile {
    width: 45px;
    height: 45px;
  }

  .occupant {
    width: 30px;
    height: 30px;
  }
}
